<div class="row"> 
    <div class="col-lg-12 " style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:13px">
        <h1 class="page-header" style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:24px">
            About MortgageLender-Review.com
           
        </h1>

        <p style="font-family:'Segoe UI Light';font-size:20px">MortgageLender-Review.com Application</p>

        <p>The MortgageLender-Review.com provides information on the mortgage lenders that provide conventional, FHA, VA and FSA/ RHS loans in the region, using the Consumer Financial Protection Bureau&rsquo;s publicly available - Home Mortgage Disclosure Act (HMDA) data.</p>

        <p>At MortgageLender-Review.com, you can study the institution&rsquo;s approval, disapproval of loans matching your profile of application. For each search, the MortgageLender-Review.com finds the top 10 mortgage lenders who have approved and supported the maximum number of conventional, FHA, VA and FSA/RHS loans in the region.</p>

        <p>You can also view the various denial reasons for the loans disapproved by each of the institution and also determine at the overall- the most common reasons for denial of loans in the region.</p>

        <p><span style="color:coral">In addition, you review the complaints received by the Consumer</span> Financial Protection bureau from the consumers of mortgages, in regards to these institutions.</p>

        <br/><p><span style="font-family:'Segoe UI Light';font-size:20px">MortgageLender-Review.com&rsquo;s Data Source</span></p>

        <p>The MortgageLender-Review.com application is developed using the Consumer Financial Protection Bureau&rsquo;s (CFPB) publicly available data. Each year thousands of banks and other financial institutions report data about mortgages to the public as part of the Home Mortgage Disclosure Act (HMDA). This data is important because:</p>

        <p>&bull; It helps show whether lenders are serving the housing needs of their communities;</p>

        <p>&bull; It gives public officials insight that helps them make informed decisions about policies; and</p>

        <p>&bull; It sheds light on lending patterns that could be discriminatory</p>

        <p>The CFPB provides every year of the Loan Application Register (LAR) data since 2007. That adds up to about 15 to 20 million records every year. The MortgageLender-Review.com utilizes this vital data to help users to determine or shortlist the mortgage lenders in the region, to support their home purchase or refinancing needs.</p>

        <p>For more information about CFPB&rsquo;s HMDA data, visit <a href="http://cfpb.github.io/api/hmda/">http://cfpb.github.io/api/hmda/</a></p>

        <br/><p><span style="font-family:'Segoe UI Light';font-size:20px">MortgageLender-Review.com Mobile Accessibility</span></p>

        <p>The MortgaeLender-Review.com application can also be accessed on a mobile device. The application&rsquo;s features automatically adjusts themselves to the screen size of the mobile device for a comfortable usage of the application.</p>

        <br/><p><span style="font-family:'Segoe UI Light';font-size:20px">MortgageLender-Review.com Usage costs</span></p>

        <p>The MortageLender-Review.com is a free to use application.</p>

        <p>&nbsp;</p>

    </div>
   
</div>



