<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <script>
        $document.ready(function () {
           // window.open("file:///~/images/201503_CFPB_Your-home-loan-toolkit-web.pdf");
        });
    </script>
        <iframe style="width:100%; height:575px" src="../images/201503_CFPB_Your-home-loan-toolkit-web.pdf">
            <!--<object data="../images/201503_CFPB_Your-home-loan-toolkit-web.pdf" type="application/pdf" width="1100" height="500">
            <p>Alternative text - include a link <a href="201503_CFPB_Your-home-loan-toolkit-web.pdf">to the PDF!</a></p>
        </object>-->
        </iframe>
    
</body>
</html>