<br />
<div class="panel panel-default">
    <div class="panel-body">
        <div class="container">
            <div class="row-fluid">
                <div class="span3">
                    <div class="col-md-4">
                        <label>Loan Purpose</label>
                        <div class="dropdown">
                            <button id="btnLoanPurpose" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                {{SelectedLoanPurposeValue}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pre-scrollable">
                                <li ng-repeat="loanPurpose in lookupLoanPurpose"><a ng-click="LoanPurposeSelected(loanPurpose.Code,loanPurpose.Value)">{{loanPurpose.Value}}</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>State</label>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:auto;">
                                {{SelectedStateValue}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pre-scrollable">
                                <li ng-repeat="State in lookupState"><a ng-click="StateSelected(State.Code,State.Value)">{{State.Value}}</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label>County</label>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:auto;">
                                {{SelectedCountyValue}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pre-scrollable">
                                <li ng-repeat="County in lookupCounty"><a ng-click="CountySelected(County.Code,County.Value)">{{County.Value}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">
                        <br /><br />
                        <div class="col-md-2 col-md-offset-4">
                            <span><button type="button" class="btn btn-info btn-block" ng-click="SearchClicked()">Search</button></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div data-ac-chart="'bar'" data-ac-data="data" data-ac-config="config" class="chart ng-isolate-scope"></div>-->
    </div>
</div>



<div class="row-fluid" ng-show="showButtons">
    <div class="col col-md-3 col-sm-6 col-xs-6">
        <button type="button" class="round-button btn btn-success" ng-click="PopulateLenderTable(0)" data-toggle="tooltip" title="A mortgage loan not insured by any government program. Conventional loans are the most common type of mortgage."><div class="round-button-text">{{TotalLender}}</div>Conventional Lenders</button>
        <br />
    </div>
    <div class="col col-md-3 col-sm-6 col-xs-6">
        <button  type="button" class="round-button btn btn-success" ng-click="PopulateLenderTable(1)" data-toggle="tooltip" title="In a FHA loan, borrowers pay for mortgage insurance due to which the lenders offers attractive interest rates with less stringent and more flexible qualification requirements."><div class="round-button-text">{{TotalFHA}}</div>FHA Lenders</button><br />
    </div>

    <div class="col col-md-3 col-sm-6 col-xs-6">
        <button  type="button" class="round-button btn btn-success" ng-click="PopulateLenderTable(2)" data-toggle="tooltip" title="The VA direct home loan program supplies home financing to eligible veterans in areas where private financing is not generally available, to help veterans purchase properties with no down payment."><div class="round-button-text">{{TotalVA}}</div>VA Lenders</button><br />
    </div>

    <div class="col col-md-3 col-sm-6 col-xs-6" ng-show="TotalFSA>0">
        <button  type="button" class="round-button btn btn-success" ng-click="PopulateLenderTable(4)" data-toggle="tooltip" title="Farm Service Agency (FSA) provides guranteed loans to beginning farmers who are unable to obtain financing from commercial lenders. 
The Rural Housing Service (RHS) lends both directly to low income borrowers in rural areas and guarantees loans that meet RHS requirements made by approved lenders."><div class="round-button-text">{{TotalFSA}}</div>FSA/RHA Lenders</button><br />
    </div>
</div>

<div class="container" ng-show="showTable">
    <table class="table table-hover" ng-show="LendersData && LendersData.length>0">
        <thead>
            <tr>
                <th>Name</th>
                <th>FHA</th>
                <th>VA</th>
                <th>FSA</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Lender in LendersData">
                <td>{{Lender.Name}}</td>
                <!--<td ng-show="All || FHA ">{{Lender.FHA}}</td>-->
                <!--<td ng-show="All || VA ">{{Lender.VA}}</td>-->
                <td>
                    <label ng-if="All || FHA" class="checkbox-inline">
                        <input type="checkbox" checked="checked" disabled>
                    </label>
                    <label ng-if="(VA || FSA) && !All" class="checkbox-inline">
                        <input type="checkbox" disabled>
                    </label>
                </td>
                <td>
                    <label ng-if="All || VA" class="checkbox-inline">
                        <input type="checkbox" checked="checked" disabled>
                    </label>
                    <label ng-if="(FHA || FSA) && !All" class="checkbox-inline">
                        <input type="checkbox" disabled>
                    </label>
                </td>
                <td>
                    <label ng-if="All || FSA" class="checkbox-inline">
                        <input type="checkbox" checked="checked" disabled>
                    </label>
                    <label ng-if="(FHA || VA) && !All" class="checkbox-inline">
                        <input type="checkbox" disabled>
                    </label>
                </td>
                <td>{{Lender.Address}}</td>
                <!--<td><input type="checkbox" ng-click="LenderSelected(Lender);" /></td>-->
            </tr>
        </tbody>
    </table>
</div>


<div class="row">
    <div data-ac-chart="'bar'" data-ac-data="chartData" data-ac-config="config" class="chart" ng-show="showChart"></div>
</div>

<div class="panel-body">
    <div class="container">
        <!--<div class="row-fluid">
            <div class="pull-left" ng-show="showLenderDropdown">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:auto;">
                        {{SelectedLenderValue}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pre-scrollable">
                        <li ng-repeat="Lender in LendersData"><a ng-click="LenderSelected(Lender)">{{Lender.Name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>-->
        <div class="row">
            <h4><span>Denial Reasons</span></h4>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5><span>The Pie chart below displays the reasons of denial of a loan by a institution.</span></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div data-ac-chart="'pie'" data-ac-data="pieChartData" data-ac-config="pieConfig1" class="chart"></div>
            </div>
            <div class="col-md-6">
                <div class="dropdown pull-right">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:auto;">
                        {{SelectedLenderValue}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pre-scrollable">
                        <li ng-repeat="Lender in LendersData"><a ng-click="LenderSelected(Lender)">{{Lender.Name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5><span>The Pie chart below displays the reasons of denial of a loan by a institution.</span></h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div data-ac-chart="'pie'" data-ac-data="pieChartDataAll" data-ac-config="pieConfig" class="chart"></div>
            </div>
        </div>
    </div>

</div>
