

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        asdfd asdf
    </div>
</div>
<div class="row">
    <div data-ac-chart="'bar'" data-ac-data="data" data-ac-config="config" class="chart"></div>
    Hello {{name}}
</div>