<!--</br>
<div class="panel panel-default" ng-controller="homeController">
    <div class="panel-body">
        <div class="container">
            <div class="row-fluid">
                <div class="span2">
                    <div class="pull-left">
                        <label>Loan Purpose</label>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:auto;">
                                Select Loan Purpose
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="loanPurpose in lookupLoanPurpose"><a href="#" ng-click="LoanPurposeSelected(loanPurpose)">{{loanPurpose}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pull-right">
                        <label>State</label>
                        <input type="text" class="form-control" placeholder="Enter State" />
                    </div>
                </div>
            </div>
        </div>
        <div data-ac-chart="'bar'" data-ac-data="data" data-ac-config="config" class="chart ng-isolate-scope"></div>
    </div>
</div>


<div class="row-fluid">
    <div class="span2">


        <div class="pull-left" style="display:inline-block;width:100px;">some content</div>
        <div class="pull-right" style="display:inline-block;width:100px;">some content</div>


    </div>
</div>-->
<div data-ac-chart="'bar'" data-ac-data="data" data-ac-config="config" class="chart ng-isolate-scope"></div>
